* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #0c325a;
}

.logo {
    line-height: 80px;
    position: absolute;
}

li {
    display: inline-block;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

.tasti {
    position: absolute;
    line-height: 60px;
    margin-left: 200px;


}

.centratura {
    padding: 0 10%;
}

.immagine {
    width: 100%;
    height: 500px;
    background-image: url('../img/fluentify-jumbo.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #0c325a;
}


.titolo {
    /* padding: 0 10%; */
    color: #fff;
    font-family: arial;
    font-size: 25px;
    position: absolute;
    margin-top:80px;
}

.barra {
    width: 100%;
    height: 150px;
    background-color: lightgrey;
    position: relative;
    text-align: center;
    padding-top: 40px;
}

h2 {
    font-family: arial;
}

p {
 color: grey;
 font-family: arial;
 margin-top: 15px;
}


.primariga::after {
    content: "";
    display: table;
    clear: both;
}

.colonna1, .colonna2, .colonna3 {
    width: 33.33%;
    height: 500px;
    background-color: #fff;
    float: left;
    /* border-left: 1px solid grey; */
    border-bottom: 1px solid lightgrey;
}

.piano {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 90px;
    margin-top: 30px;
}

h3 {
    font-family: arial;
    font-size: 40px;
    color: #7fbc07;
}

.testocolonne {
    margin-top: 250px;
    text-align: center;
    padding: 5px;
}

.secondariga::after {
    content: "";
    display: table;
    clear: both;
}

.secondariga {

    margin-top: 50px;
}



.colonnasotto1, .colonnasotto2 {
    width: 50%;
    /* height: 300px; */
    background-color:;
    float: left;
}

.imgscopri {
    width: 607.69px;
    height: 300px;
}

h4 {
    font-size: 40px;
    font-family: arial;


}
